<div class="center border-gray">
    <div class="origins-container">
        <span *ngFor="let origin of origins; let i = index">
            <br *ngIf="i%4 == 0">
            <div class="origins-child">
                <input type="checkbox" name=origin{{i}} value={{origin}}> {{ origin }}
            </div>
        </span>
    </div>

    <div class="quote border-black">
        <pre *ngIf="currentQuote != null">{{ currentQuote.body }}</pre>
    </div>

    <div>
        <button (click)="refreshRating(-1)"> -1 </button>
        <button (click)="getNewQuote()"> next </button>
        <button (click)="refreshRating(1)"> +1 </button>
    </div>

    <div>
        <p> Current rating: <span *ngIf="currentQuote != null"> {{ currentQuote.rating }} </span> </p>
    </div>
</div>
